In [1]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student)

{'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

In [2]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student['name'])

Steve

In [3]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student['courses'])

['Math', 'Biology']

In [4]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student['phone'])
#cannot access a key that does not exist

KeyError: 'phone'

In [5]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student.get('name'))

Steve

In [6]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student.get('phone'))
#using the 'get' function doesn't throw an error

None

In [7]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student.get('phone', 'Not Found'))
#you can alter the message in the case of a non-existant key

Not Found

In [8]:
#adding a key and its value
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

student['phone'] = '555-1212'

print(student.get('phone', 'Not Found'))

555-1212

In [9]:
#changing the student record
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

student['phone'] = '555-1212'
student['name'] = 'Joe'

print(student)

{'name': 'Joe', 'age': 25, 'courses': ['Math', 'Biology'], 'phone': '555-1212'}

In [10]:
#using the 'update' function
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

student.update({'name': 'Jane', 'age': 27, 'phone': '555-5555'})

print(student)

{'name': 'Jane', 'age': 27, 'courses': ['Math', 'Biology'], 'phone': '555-5555'}

In [11]:
#using the 'del' function
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

del student['age']

print(student)

{'name': 'Steve', 'courses': ['Math', 'Biology']}

In [13]:
#using the pop method to delete a value and return it
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

age = student.pop('age')

print(student)
print(age)

{'name': 'Steve', 'courses': ['Math', 'Biology']}
25

In [14]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(len(student))

3

In [15]:
#display only keys
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student.keys())

dict_keys(['name', 'age', 'courses'])

In [16]:
#display only values
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student.values())

dict_values(['Steve', 25, ['Math', 'Biology']])

In [17]:
#display both keys and values
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

print(student.items())

dict_items([('name', 'Steve'), ('age', 25), ('courses', ['Math', 'Biology'])])

In [18]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

for key in student:
    print(key)

name
age
courses

In [20]:
student = {'name': 'Steve', 'age': 25, 'courses': ['Math', 'Biology']}

for key, value in student.items():
    print(key, value)

name Steve
age 25
courses ['Math', 'Biology']