In [1]:
num = 3
print(type(num))

<class 'int'>

In [2]:
num = 3.14
print(type(num))

<class 'float'>

In [3]:
print(3 + 2)

5

In [4]:
print(3 - 2)

1

In [5]:
print(3 * 2)

6

In [6]:
print(3 / 2)

1.5

In [7]:
print(3 // 2)
#floor division

1

In [8]:
print(3 ** 2)
#exponent

9

In [9]:
print(3 % 2)
#modulus

1

In [10]:
print(2 % 2)
print(5 % 2)
#mo modulus

0
1

### Order of operations

In [11]:
print(3 * 2 + 1)

7

In [12]:
print(3 * (2 + 1))

9

### Incrementing values

In [13]:
num = 1
num = num + 1
print(num)

2

In [14]:
num = 1
num += 1
print(num)

2

In [15]:
num = 2
num *= 10
print(num)

20

### Absolute value

In [16]:
print(abs(-3))

3

In [17]:
print(round(3.75))

4

In [18]:
print(round(3.75, 1))

3.8

### Comparison operators

In [19]:
num_1 = 3
num_2 = 2

print(num_1 == num_2)

False

In [20]:
num_1 = 3
num_2 = 2

print(num_1 != num_2)

True

In [21]:
num_1 = 3
num_2 = 2

print(num_1 > num_2)

True

In [22]:
num_1 = 3
num_2 = 2

print(num_1 < num_2)

False

In [23]:
num_1 = 3
num_2 = 2

print(num_1 >= num_2)

True

In [24]:
num_1 = 3
num_2 = 2

print(num_1 <= num_2)

False

### String values

In [25]:
num_1 = '100'
num_2 = '200'

print(num_1 + num_2)
#results in string concatenation

100200

In [26]:
num_1 = '100'
num_2 = '200'

num_1 = int(num_1)
num_2 = int(num_2)

print(num_1 + num_2)
#simple to cast in python

300