### Lists

In [2]:
courses = ['History', 'Math', 'Physics', 'Biology']

In [3]:
print(courses)

['History', 'Math', 'Physics', 'Biology']

In [4]:
print(len(courses))

4

In [5]:
print(courses[0])

History

In [6]:
print(courses[3])

Biology

In [7]:
print(courses[-1])
#a convenient way to get the last item on a list

Biology

In [8]:
print(courses[0:2])
#returns the first two values

['History', 'Math']

In [9]:
print(courses[2:])
#returns the last two values

['Physics', 'Biology']

In [10]:
#adding a value to a list
courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'Biology', 'Art']

In [12]:
courses = ['History', 'Math', 'Physics', 'Biology']
courses.insert(0, 'Art')
print(courses)

['Art', 'History', 'Math', 'Physics', 'Biology']

In [13]:
courses = ['History', 'Math', 'Physics', 'Biology']
courses_2 = ['Art', 'Education']

courses.extend(courses_2)

print(courses)

['History', 'Math', 'Physics', 'Biology', 'Art', 'Education']

In [14]:
courses = ['History', 'Math', 'Physics', 'Biology']
courses.remove('Math')

print(courses)

['History', 'Physics', 'Biology']

In [15]:
courses = ['History', 'Math', 'Physics', 'Biology']
courses.pop()

print(courses)
#"pops" the last item off of a list

['History', 'Math', 'Physics']

In [16]:
courses = ['History', 'Math', 'Physics', 'Biology']
popped = courses.pop()

print(popped)
print(courses)
#to view the removed items

Biology
['History', 'Math', 'Physics']

In [17]:
courses = ['History', 'Math', 'Physics', 'Biology']
courses.reverse()

print(courses)

['Biology', 'Physics', 'Math', 'History']

In [18]:
courses = ['History', 'Math', 'Physics', 'Biology']
courses.sort()

print(courses)
#to alphabetize the list. If list is numerical, displays ascending order

['Biology', 'History', 'Math', 'Physics']

In [19]:
courses = ['History', 'Math', 'Physics', 'Biology']
courses.sort(reverse=True)

print(courses)

['Physics', 'Math', 'History', 'Biology']

In [20]:
courses = ['History', 'Math', 'Physics', 'Biology']
sorted(courses)

print(courses)

['History', 'Math', 'Physics', 'Biology']

In [21]:
courses = ['History', 'Math', 'Physics', 'Biology']
sorted_courses = sorted(courses)

print(sorted_courses)
#notice the difference in the two above statements
#sorts the list w/out altering the original

['Biology', 'History', 'Math', 'Physics']

In [22]:
courses = ['History', 'Math', 'Physics', 'Biology']
nums = [3, 5, 2, 4, 1]

print(min(nums))

1

In [23]:
courses = ['History', 'Math', 'Physics', 'Biology']
nums = [3, 5, 2, 4, 1]

print(max(nums))

5

In [24]:
courses = ['History', 'Math', 'Physics', 'Biology']
nums = [3, 5, 2, 4, 1]

print(sum(nums))

15

In [25]:
courses = ['History', 'Math', 'Physics', 'Biology']

print(courses.index('Biology'))
#returns the index position

3

In [26]:
courses = ['History', 'Math', 'Physics', 'Biology']

print(courses.index('Art'))
#returns a value error

ValueError: 'Art' is not in list

In [27]:
courses = ['History', 'Math', 'Physics', 'Biology']

print('Art' in courses)

False

In [28]:
courses = ['History', 'Math', 'Physics', 'Biology']

print('Math' in courses)

True

In [29]:
courses = ['History', 'Math', 'Physics', 'Biology']

for item in courses:
    print(item)

History
Math
Physics
Biology

In [30]:
courses = ['History', 'Math', 'Physics', 'Biology']

for item in enumerate(courses):
    print(item)

(0, 'History')
(1, 'Math')
(2, 'Physics')
(3, 'Biology')

In [31]:
courses = ['History', 'Math', 'Physics', 'Biology']

for index, item in enumerate(courses):
    print(index, item)

0 History
1 Math
2 Physics
3 Biology

In [32]:
courses = ['History', 'Math', 'Physics', 'Biology']

for index, item in enumerate(courses, start=1):
    print(index, item)

1 History
2 Math
3 Physics
4 Biology

In [33]:
courses = ['History', 'Math', 'Physics', 'Biology']

course_str = ', '.join(courses)
print(course_str)

History, Math, Physics, Biology

In [34]:
courses = ['History', 'Math', 'Physics', 'Biology']

course_str = ' - '.join(courses)

print(course_str)

History - Math - Physics - Biology

In [35]:
courses = ['History', 'Math', 'Physics', 'Biology']

course_str = ' - '.join(courses)

new_list = course_str.split(' - ')

print(course_str)
print(new_list)

History - Math - Physics - Biology
['History', 'Math', 'Physics', 'Biology']

### Tuples - parenthesis

In [36]:
list_1 = ['History', 'Math', 'Physics', 'Biology']
list_2 = list_1

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'Biology']
['History', 'Math', 'Physics', 'Biology']

In [37]:
list_1 = ['History', 'Math', 'Physics', 'Biology']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'Biology']
['History', 'Math', 'Physics', 'Biology']
['Art', 'Math', 'Physics', 'Biology']
['Art', 'Math', 'Physics', 'Biology']

In [38]:
tuple_1 = ('History', 'Math', 'Physics', 'Biology')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)
#cannot append as tuples are IMMUTABLE

('History', 'Math', 'Physics', 'Biology')
('History', 'Math', 'Physics', 'Biology')

TypeError: 'tuple' object does not support item assignment

### Sets - curly braces

In [39]:
cs_courses = {'History', 'Math', 'Physics', 'Biology'}

print(cs_courses)

{'Physics', 'History', 'Math', 'Biology'}

In [42]:
cs_courses = {'History', 'Math', 'Physics', 'Biology', 'Math'}

print(cs_courses)
#added a second Math, sets throw out duplicates

{'Physics', 'History', 'Math', 'Biology'}

In [43]:
cs_courses = {'History', 'Math', 'Physics', 'Biology'}

print('Math' in cs_courses)

True

In [45]:
cs_courses = {'History', 'Math', 'Physics', 'Biology'}
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.intersection(art_courses))

{'History', 'Math'}

In [46]:
cs_courses = {'History', 'Math', 'Physics', 'Biology'}
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.difference(art_courses))

{'Physics', 'Biology'}

In [47]:
cs_courses = {'History', 'Math', 'Physics', 'Biology'}
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.union(art_courses))

{'Design', 'History', 'Biology', 'Math', 'Physics', 'Art'}

### Creating empty lists, tuples, and sets

In [ ]:
# Empty list
empty_list = []
empty_list = list()

# Empty tuple
empty_tuple = ()
empty_tuple = tuple()

# Empty set
empty_set = {} # !This isn't correct! It's a dictionary, you fool!
empty_set = set()